<html>
<head>
<title>Python Boilerplate</title>
</head>
<body>
  <h1>Boilerplate</h1>
  <h2>{% block subtitle %} {% endblock subtitle %}</h2>
  {% block content %} {% endblock content %}
</body>
</html>